
// 定义常用的类
@for $i from 1 through 20 {
  // 字体大小 .f8 - f20
  @if ($i >= 8) {
    .f#{$i} {
      font-size: ($i * 1px);
    }
  }
  // 左外边距 .ml1 - .ml20 下同
  .ml#{$i} {
    margin-left: ($i * 1px);
  }
  // 右外边距
  .mr#{$i} {
    margin-right: ($i * 1px);
  }
  // 上外边距
  .mt#{$i} {
    margin-top: ($i * 1px);
  }
  // 下外边距
  .mb#{$i} {
    margin-bottom: ($i * 1px);
  }
  // 做内边距
  .pl#{$i} {
    padding-left: ($i * 1px);
  }
  // 右内边距
  .pr#{$i} {
    padding-right: ($i * 1px);
  }
  // 上内边距
  .pt#{$i} {
    padding-top: ($i * 1px);
  }
  // 下内边距
  .pb#{$i} {
    padding-bottom: ($i * 1px);
  }
}
// 行内元素水平居中
.text-c {
  text-align: center;
}
// 行内块元素
.inline {
  display: inline-block;
}
// 超出显示省略号
.ell {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dx_captcha{
  border-radius: 6px;
  overflow: hidden;
}

::-webkit-scrollbar 
{ 
    width: 6px; 
    height: 6px; 
    background-color: #F5F5F5; 
} 
   
/*定义滚动条轨道 内阴影+圆角*/ 
::-webkit-scrollbar-track 
{ 
    border-radius: 4px; 
    background-color: #F5F5F5; 
} 
   
/*定义滑块 内阴影+圆角*/ 
::-webkit-scrollbar-thumb 
{ 
    border-radius: 4px; 
    background-color: rgba(144,147,153,.3);; 
}
*{
  box-sizing: border-box;
  margin: 0;
}
ul{
  padding: 0;
  li{
    list-style: none;
  }
}
h3{
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #4A4A4A;
}
.theme-color{
  color: #1A8CFF;
}
h3.title{
  position: relative;
  text-align: left;
  padding-left: .75rem;
  color: #1A8CFF;
  font-weight: normal;
  margin-bottom: .75rem;
  margin-top: .5rem;
  &::before{
    content: '';
    display: block;
    width: .2rem;
    background-color: #1A8CFF;
    position: absolute;
    left: 0px;
    top: .12rem;
    height: .9rem;
  }
}
/* 选择页面 */
.app-body{
  min-height: 100vh;
  padding: 3.45rem .75rem;
}
.place-tit{
  font-size: .9rem;
  margin-bottom: .75rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
button{
  text-decoration: none;
  outline: none;
}
.router-link-active {
  text-decoration: none;
}
body{
  margin: 0;
  color: #4A4A4A;
  min-height: 100%;
  background-color: #f7f7f7;
  font-size: .7rem;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

@import "./mixin";
@import "./element-variables";
.app-header-middle{
  input.el-input__inner{
    background-color: transparent;
    border: none;
    color: #fff;
    width: 7rem;
    text-align: center;
    font-size: .75rem;
    &::-webkit-input-placeholder{
      color: #fff;
    }
    .el-input__icon{
      font-size: .75rem;
    }
  }
  .el-input__icon{
    color: #fff !important;
  }
}
.box-flex {
  position: relative;
  @include flex(row);
  @include center(row);
  justify-content: space-between;
  line-height: 2.5rem;
  padding: 0 .625rem;
  &::after{
    content: '';
    width: calc(100% - 1.25rem);
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: .625rem;
    background-color: #EBEEF5;
  }
  &:last-child(){
    &::after{
      display: none;
    }
  }
  .flex-center{
    width: calc(100% - 2.875rem);
    a{
      display: block;
    }
  }
}
.card{
  background-color: #ffffff;
  border-radius: .3125rem;
}



.inp-group{
  &.suffix{
    span.el-input__suffix{
      right: 104px;
    }
  }
  position: relative;
  text-align: left;
  margin-bottom: .75rem;
  .right-btn{
    position: absolute;
    top: 5px;
    right: 20px;
    color: #8c8c8c;
    a{
      color: #8c8c8c;
    }
    ::before{
      position: absolute;
      left: -20px;
      top: 7px;
      content: '';
      width: 1px;
      height: 16px;
      display: block;
      background-color: #b4bccc;
    }
  }
}
.layout-container:after,.layout-title:after,
.form-group:after,.clearfix:after {
  content: '';
  display: table;
  clear: both
}
a,button,input{
  -webkit-tap-highlight-color:transparent;
}
// 1A8CFF
.trans-btn{
  background-color: transparent !important;
  color: #fff !important;
  border-color: #fff !important;
}
.h-100{
  height: 100%;
}
.full-btn{
  width: 100%;
}
.mar-bottom-20{
  margin-bottom: 1rem;
}
.mar-bottom-10{
  margin-bottom: 10px;
}
/* 注册登录css*/
.form-logo{
  max-width: 16rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1.2rem;
  img{
    height: 2.8rem;
  }
}
.account-container{
  background-color: #1A8CFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-main{
  background-color: #fff;
  padding: 1rem .4rem 1rem;
  border: 1px solid #e9e9e9;
  border-radius: .2rem;
  text-align: center;
  width: 100%;
}
.form-pro{
  margin: .7rem .7rem 0 .7rem;
}
.form-content{
  h1{
    font-size: 1.2rem;
    line-height: 32px;
    color: #262626;
  }
  p{
    color: #595959;
    margin-top: .6rem;
  }
}
.form-pro{
  font-size: .7rem;
  .full-btn{
    height: 2rem;
  }
}
.hr{
  margin-bottom: 2.05rem;
  ::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -1rem;
    left: 0;
    background-color: #DCDFE6;
  }
}
.wechat,.qq{
  width: 7.9rem;
  height: 2rem;
}
.bottom-ctrl{
  margin-top: 10px;
}

hr{
  height:1px;
  border: none;
  border-top:1px dashed #DCDFE6;
  margin:  1rem 0;
}
.red{
  span{
    color: #F56C6C;    
  }
  color: #F56C6C;
}
.el-card.is-always-shadow{
  box-shadow: none !important;
}
/**表格*/
.custom-table{
  width: 100%;
  font-size: .7rem;
  border: 1px solid #EBEEF5;
  tbody{
    tr:last-child{
      th,td{
        border-bottom: none;
      }
    }
  }
  th,td{
    padding: .3rem 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #EBEEF5;
  }
}
/*答题页*/
.page-jump{
  display: inline-block;
  margin-left: 40px;
  color: #606266;
  font-size: 14px;
}
.auto-next{
  margin-left: 20px;
  display: inline-block;
}
$color-primary: #1A8CFF;
.topic-type{
  position: absolute;
  top: .55rem;
  left: 0;
  border-top-right-radius: .1rem;
  border-bottom-right-radius: .1rem;
  display: block;
  background-color: #b3d8ff;
  color: $color-primary;
  line-height: 1.75;
  min-width: 2.5rem;
  text-align: center;
}
.topic{
  position: relative;
  margin-bottom: .75rem;
  box-shadow: 2px -2px #fff,3px -3px #EBEEF5,5px -5px #fff,6px -6px #EBEEF5,8px -8px #fff,9px -9px #EBEEF5;
  // overflow: auto;
  .el-card__body{
    padding: 2.25rem .75rem .75rem .75rem;
  }
  .el-radio,.el-checkbox{
    display: block;
    margin-bottom: 1rem;
  }
  .topic-tit{
    display: block;
    font-weight: normal;
    font-size: .7rem;
  }
  .topic-top{
    margin-bottom: 1rem;
    overflow: hidden;
  }
  .results{
    .results-text{
      display: inline-block;
      margin-right: 20px;
      &.err{
        color: #F56C6C;
      }
    }
  }
  .parsing{
    line-height: 1.5;
    font-size: 14px;
    color: #606266;
  }
}

/**/
.gray{
  color: #909399;
}